<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="Universal Reader"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniversalReader">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ReaderActivity"
            android:exported="true">

            <!-- General VIEW handler -->
            <intent-filter>

                <action
                    android:name="android.intent.action.VIEW" />

                <category
                    android:name="android.intent.category.DEFAULT" />

                <category
                    android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="content" />

            </intent-filter>

            <!-- File URI handler -->
            <intent-filter>

                <action
                    android:name="android.intent.action.VIEW" />

                <category
                    android:name="android.intent.category.DEFAULT" />

                <category
                    android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="file" />

            </intent-filter>

            <!-- PDF -->
            <intent-filter>

                <action
                    android:name="android.intent.action.VIEW" />

                <category
                    android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="application/pdf" />

            </intent-filter>

            <!-- EPUB -->
            <intent-filter>

                <action
                    android:name="android.intent.action.VIEW" />

                <category
                    android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="application/epub+zip" />

            </intent-filter>

            <!-- MOBI -->
            <intent-filter>

                <action
                    android:name="android.intent.action.VIEW" />

                <category
                    android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="application/x-mobipocket-ebook" />

            </intent-filter>

            <!-- Plain text -->
            <intent-filter>

                <action
                    android:name="android.intent.action.VIEW" />

                <category
                    android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="text/plain" />

            </intent-filter>

            <!-- HTML -->
            <intent-filter>

                <action
                    android:name="android.intent.action.VIEW" />

                <category
                    android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="text/html" />

            </intent-filter>

            <!-- RTF -->
            <intent-filter>

                <action
                    android:name="android.intent.action.VIEW" />

                <category
                    android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="application/rtf" />

            </intent-filter>

            <!-- Microsoft Word -->
            <intent-filter>

                <action
                    android:name="android.intent.action.VIEW" />

                <category
                    android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="application/msword" />

            </intent-filter>

            <!-- DOCX -->
            <intent-filter>

                <action
                    android:name="android.intent.action.VIEW" />

                <category
                    android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />

            </intent-filter>

            <!-- ODT -->
            <intent-filter>

                <action
                    android:name="android.intent.action.VIEW" />

                <category
                    android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="application/vnd.oasis.opendocument.text" />

            </intent-filter>

            <!-- Markdown -->
            <intent-filter>

                <action
                    android:name="android.intent.action.VIEW" />

                <category
                    android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="text/markdown" />

            </intent-filter>

        </activity>

    </application>

</manifest>